.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.container {
  width: 550px;
  background: #231955;
  color: #ffffff;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 0 15px #00000038;
}

.heading {
  font-weight: bold;
  font-size: 1.4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quote {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 2;
}

.btns {
  display: flex;
  gap: 20px;
  align-items: center;
}
